{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'navbar.html' %}

<!-- Menampilkan Nama User dan Last Login -->
<div class="text-center mt-6">
  <h2 class="text-2xl font-semibold text-[#4e3620]">Welcome, {{ namaUser }}!</h2>
  <p class="text-sm text-[#8b572a] mt-2">Last login: {{ last_login }}</p>
</div>

<!-- Bagian Card Info (Nama, Kelas, NPM) -->
<div class="overflow-x-hidden px-4 md:px-8 pb-4 pt-4 min-h-screen bg-white flex flex-col">
  <div class="p-2 mb-4 relative">
    <!-- Grid untuk Card Info -->
    <div class="relative grid grid-cols-1 z-30 md:grid-cols-3 gap-4">
      {% include "card_info.html" with title='NPM' value=npm %}
      {% include "card_info.html" with title='Name' value=name %}
      {% include "card_info.html" with title='Class' value=class %}
    </div>

    <!-- Bagian Dekorasi -->
    <div class="w-full px-6 absolute top-[30px] left-0 z-20 hidden md:flex">
      <div class="w-full min-h-4 bg-[#d4a373]"></div>
    </div>
    <div class="h-full w-full py-4 absolute top-0 left-0 z-20 md:hidden flex">
      <div class="h-full min-w-4 bg-[#d4a373] mx-auto"></div>
    </div>
  </div>

  <!-- Bagian Daftar Produk -->
  <div class="container mx-auto py-8">
    <div class="text-center mb-6">
      <h1 class="text-3xl font-bold text-[#4e3620]">Daftar Produk Pacil Bakery</h1>
    </div>

    <!-- Jika ada produk, tampilkan dalam bentuk card -->
    {% if product_entries %}
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for product in product_entries %}
          <!-- Menggunakan template card_product.html untuk setiap produk -->
          {% include 'card_product.html' with product=product %}
        {% endfor %}
      </div>
    {% else %}
      <!-- Jika tidak ada produk -->
      <div class="text-center">
        <img src="{% static 'image/no-product.png' %}" alt="No Products" class="mx-auto h-64 w-auto">
        <p class="text-lg text-[#4e3620] mt-4">Belum ada produk yang ditambahkan.</p>
      </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
